<!DOCTYPE html>
<html lang="en">

<head>
    <title>bookingstoinvoice</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bookingtoinvoice.css" rel="stylesheet">
</head>

<body>
    <div class="tittle-id">
        <p>Bookings ready to be Invoiced</p>
    </div>

    <div class="container-one">
        <div class="inside-div">
            <label for="client" class="book-lable">Property:</label>
            <select name="client" id="client" class="Property">
                <option value="client-1">Client Group-1</option>
                <option value="client-2">Client Group-2</option>
                <option value="client-3">Client Group-3</option>
                <option value="client-4">Client Group-4</option>
            </select>
        </div>
        <div class="inside-div">
            <label for="client" class="book-lable">Weak:</label>
            <select name="client" id="client" class="Weak-element">
                <option value="client-1">Weak-1</option>
                <option value="client-2">Weak-2</option>
                <option value="client-3">Weak-3</option>
                <option value="client-4">Weak-4</option>
            </select>
        </div>
        <div class="inside-div">
            <label for="client" class="book-lable">Year:</label>
            <select name="client" id="client" class="Year-element">
                <option value="client-1">2019</option>
                <option value="client-2">2020</option>
                <option value="client-3">2021</option>
                <option value="client-4">2022</option>
            </select>
        </div>
        <div class="inside-div">
            <label for="client" class="book-lable">Client:</label>
            <select name="client" id="client" class="client-element">
                <option value="client-1">Any</option>
                <option value="client-2">Client Group-1</option>
                <option value="client-3">Client Group-3</option>
                <option value="client-4">Client Group-4</option>
            </select>
        </div>
        <div class="inside-div"><button class="show-button">Show</button></div>
    </div>

    <!-- Booking Table  -->
    <table>
        <tr>
            <th>Group Name</th>
            <th>Client Name</th>
            <th>Dept Date</th>
            <th>PID</th>
            <th>Receipts</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Balance</th>
            <th>Property</th>
        </tr>
        <tr>
            <td> <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">ALINE BUYS X 2</td>
            <td>TANZANIA SPECIALIST LTD</td>
            <td> 02/11/2022</td>
            <td>10965</td>
            <td> 5916</td>
            <td> 239.00</td>
            <td> 0.00</td>
            <td> 239.00</td>
            <td> Serengeti</td>
        </tr>

        <tr>
            <td> <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">ALINE BUYS X 2</td>
            <td>TANZANIA SPECIALIST LTD</td>
            <td> 02/11/2022</td>
            <td>10965</td>
            <td> 5916</td>
            <td> 239.00</td>
            <td> 0.00</td>
            <td> 239.00</td>
            <td> Serengeti</td>
        </tr>

        <!-- check buttons -->
        <tr>
            <td class="button-td">
                <button>Uncheck All</button>
                <button>check All</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
</body>

</html>