<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/clientproperty.css" rel="stylesheet">
</head>

<body>
    <p class="tittle">Propeties</p>
    <table>
        <tr class="property">
            <td>Property</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="details-row">
            <td class="client-name">Client Name 1</td>
            <td class="client"><a href="">Settings</a></td>
            <td class="client"><a href="">Policies</a></td>
            <td class="client"><a href="">Extras</a></td>
            <td class="client"><a href="">Miscellaneous</a></td>
            <td class="client"><a href="">Company</a></td>
            <td class="client"><a href="">Remove</a></td>
        </tr>

    </table>
</body>

</html>