<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bookingstyle.css" rel="stylesheet">
</head>

<body>
 <div class="book-contain">
    <div class="form-contain">
        <label for="client" class="book-lable">Client Group:</label>
        <select name="client" id="client" class="client">
            <option value="client-1">Client Group-1</option>
            <option value="client-2">Client Group-2</option>
            <option value="client-3">Client Group-3</option>
            <option value="client-4">Client Group-4</option>
        </select>
    </div>
    <div class="form-contain">
        <label for="client" class="book-lable" >Client Name:</label>
        <select name="client" id="select" class="client-name">
            <option value="client-1">Group-1</option>
            <option value="client-2">Group-2</option>
            <option value="client-3">Group-3</option>
            <option value="client-4">Group-4</option>
        </select>
    </div>
    <div class="form-contain">
        <label for="" class="book-lable">Group Name:</label> 
        <input type="text" class="book-field-one">
    </div>
    <div class="form-contain">
        <label for=""  class="book-lable">Contact Person: </label>
        <input type="text" class="book-field-two">
    </div>
    <div class="form-contain">
        <label for="client" class="book-lable">Currency: </label>
        <select name="client" id="client" class="currency">
            <option value="client-1">USD</option>
            <option value="client-2">EUR</option>
            <option value="client-3">TZS</option>
            <option value="client-4">GBP</option>
        </select>
    </div>
    <div><button type="button" class="button1">Save</button></div>
 </div>

</body>

</html>