<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/manageclient.css" rel="stylesheet">
</head>

<body>
    <p>Client Groups</p>
    <table>
        <tr class="custome">
            <td class="costome-1"><a href="">Import STO</a> | <a href="">Hide Groups</a></td>
        
            <td class="costome-3"><a href="">Add</a></td>
            <td></td>
        </tr>
        <tr class="group">
            <td>Groups</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="details-row">
            <td class="client-name">Client Name 1</td>
            <td class="client"><a href="">Client</a></td>
            <td class="client"><a href="">edit</a></td>
            <td class="client"><a href="">Remove</a></td>
        </tr>
        <tr class="details-row">
            <td>Client Name 2</td>
            <td><a href="">Client</a></td>
            <td><a href="">edit</a></td>
            <td><a href="">Remove</a></td>
        </tr>
        <tr class="details-row">
            <td>Client Name </td>
            <td><a href="">Client</a></td>
            <td><a href="">edit</a></td>
            <td><a href="">Remove</a></td>
        </tr>
        <tr class="details-row">
            <td>Client Name 4</td>
            <td><a href="">Client</a></td>
            <td><a href="">edit</a></td>
            <td><a href="">Remove</a></td>
        </tr>

    </table>
</body>

</html>