<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/reportdetail.css" rel="stylesheet">
</head>

<body>
    <div>
        <p class="report-head">Daily Report </p>
    </div>
    <table>
        <tr class="">
            <td class="variable">Date From:</td>
            <td> <input type="date" value="date" class="field-value"></td>
        </tr>
        <tr class="">
            <td class="variable">Date To:</td>
            <td> <input type="date" value="date" class="field-value"></td>
        </tr>

        <tr class="table-row">
            <td class="variable">Report</td>
            <td class="">
                <input type="text" class="field-value">
            </td>
        </tr>

        <tr>
            <td class="variable">Property</td>
            <td> <select name="name" id="propety" class="field-value">
                    <option value="volvo">Property-1</option>
                    <option value="saab">Property-2</option>
                    <option value="mercedes">Property-3</option>
                    <option value="audi">Property-4</option>
                </select></td>
            <!-- <td> <input type="text" name="" value="" class="field-value"> </td> -->
        </tr>
        <tr>
            <td class="variable">Booking Status</td>
            <td> <select name="name" id="propety" class="field-value">
                    <option value="volvo">All</option>
                    <option value="volvo">Provisional</option>
                    <option value="saab">Confirmed</option>
                    <option value="mercedes">Blocked</option>
                </select></td>
            <!-- <td> <input type="text" name="" value="" class="field-value"> </td> -->
        </tr>
        <tr>
            <td class="variable">Format</td>
            <td> <select name="name" id="propety" class="field-value">
                    <option value="volvo">Property-1</option>
                    <option value="saab">Property-2</option>
                    <option value="mercedes">Property-3</option>
                    <option value="audi">Property-4</option>
                </select></td>

        </tr>
        <tr>
            <td class="variable">Format</td>
            <td><input type="text" class="field-value"></td>
        </tr>
        <tr class="button-row" >
            <td><button class="button-color">show</button></td>
            <td></td>
        </tr>
    </table>

</body>
yy7
</html>